body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: rgb(3, 233, 233);
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 18px;  
    width: 100px; 
    
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header nav ul li a:hover {
    color: white;
}

header nav .login{
    width: 80px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    
    border-radius: 20px;
}